<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>The Band!</h1>
      <p class="hoverP">* Hover or touch over images for bio</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class='row'>
    <div class='col-md-6 bandpage-image-container'>
      <img src="/img/BPbobmarley.jpg" class="img-responsive bandpage-image">
      <p class="bandpage-paragraphs"><span class="bandpage-member-header">Bob Marley</span></br>Bob Marley was born on February 6, 1945, in St. Ann Parish, Jamaica. In 1963, Marley and his friends formed the Wailing Wailers. The Wailers' big break came in 1972, when they landed a contract with Island Records. Marley went on to sell more than 20 million records throughout his career, making him the first international superstar to emerge from the so-called Third World. Bob Marley helped introduce reggae music to the world and remains one of the genre's most beloved artists to this day.
      </p>
    </div>

    <div class='col-md-6 bandpage-image-container'>
      <img src="/img/BPdamianmarley.jpg" class="img-responsive bandpage-image">
      <p class="bandpage-paragraphs"><span class="bandpage-member-header">Damian Marley</span></br>
      Damian Robert Nesta "Jr. Gong" Marley, born 21 July 1978, is a Jamaican reggae artist. Damian is the youngest son of reggae musician Bob Marley. Damian's nickname Junior Gong is derived from his father's nickname of Tuff Gong. Damian has been performing since the age of 13. Marley has described his music as "dancehall and reggae. I've noticed ... people trying to separate the two of them," he continues. "It's Jamaican culture in general. I don't try to classify or separate." Distant Relatives Fused hip hop and reggae musical elements, Marley and Nas also incorporated samples from African music into the album. The album's lyrical content heavily revolves around themes concerning Africa, from ancestry and poverty, with social commentary of the United States and Africa. The track "Count Your Blessings" reflects on the plight of Africa.
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6 bandpage-image-container'>
      <img src="/img/BPjimmycliff.jpg" class="img-responsive bandpage-image">
      <p class="bandpage-paragraphs"><span class="bandpage-member-header">Jimmy Cliff</span></br>
      Jimmy Cliff is best known among mainstream audiences for songs such as "Wonderful World, Beautiful People", "Many Rivers to Cross", "You Can Get It If You Really Want", "The Harder They Come", "Reggae Night", and "Hakuna Matata", and his covers of Cat Stevens's "Wild World" and Johnny Nash's "I Can See Clearly Now" from the film Cool Runnings. He starred in the film The Harder They Come, which helped popularize reggae across the world, and Club Paradise. Cliff was one of five performers inducted into the Rock and Roll Hall of Fame in 2010.
      </p>
    </div>

    <div class='col-md-6 bandpage-image-container'>
      <img src="/img/BPmanuchao.jpg" class="img-responsive bandpage-image">
      <p class="bandpage-paragraphs"><span class="bandpage-member-header">Manu Chao</span></br>
      Manu Chao is a French-born musician of Spanish origin. He sings in French, Spanish, English, Italian, Arabic, Catalan, Galician, Portuguese and occasionally in other languages. Chao began his musical career in Paris, busking and playing with groups such as Hot Pants and Los Carayos, which combined a variety of languages and musical styles. With friends and his brother Antoine Chao, he founded the band Mano Negra in 1987, achieving considerable success, particularly in Europe. He became a solo artist after its breakup in 1995, and since then tours regularly with his live band, Radio Bemba.
      </p>
    </div>
  </div>
</div> 
