<div class="container">
	<div class='row'> 
		<div class='col-md-12'>
			<p>Hover over images for bio</p>
		</div>
	</div>
</div>
<hr>
<div class="row">
  <div class="col-xs-2 col-md-1">
    <a href="#" class="thumbnail">
      <img src="img/bobmarley1.jpg" alt="pic">
    </a>
  </div>
  <div class="col-xs-2 col-md-1">
    <a href="#" class="thumbnail">
      <img src="img/bobmarley1.jpg" alt="pic">
    </a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-2 col-md-1">
    <a href="#" class="thumbnail">
      <img src="img/bobmarley1.jpg" alt="pic">
    </a>
  </div>
  <div class="col-xs-2 col-md-1">
    <a href="#" class="thumbnail">
      <img src="img/bobmarley1.jpg" alt="pic">
    </a>
  </div>
</div>
