<div id="rotatorContainer">
	<div id="rotatorImg1"></div>
	<div id="rotatorImg2"></div>
	<div id="rotatorImg3"></div>
	<h1 id="homeTitle">Reggae<span>BAND</span></h1>
</div>

		<h1>A Fictional Cover Band</h1>
		<h1>Est. 01/02/2017</h1>

<div class="container" id="home-div">
	<div>
		<h5>
			This page is for a fictional reggae cover band (so don't try to book them, even though they sound amazing!).  
		</h5>
		<h5>
			This page has been created using AngularJS, Bootstrap and JQuery.

		</h5>
		<h5>
			Though some may consider reggae Jamaican dance music, it is actually a genre influenced by mento and calypso music as well as ska, rocksteady, American jazz and R&B. The offbeat rhythms, staccato chords and a heavy bass sound have come to define the sound associated with reggae bands.
		</h5>
		<h5>
			Stylistically, reggae incorporates some of the musical elements of rhythm and blues, jazz, mento (a celebratory, rural folk form that served its largely rural audience as dance music and an alternative to the hymns and adapted chanteys of local church singing), calypso, African music, as well as other genres. One of the most easily recognizable elements is offbeat rhythms; staccato chords played by a guitar or piano (or both) on the offbeats of the measure. The tempo of reggae is usually slower paced than ska but faster than rocksteady. The concept of call and response can be found throughout reggae music.
		</h5>
		
	</div>
</div>






