<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>LISTEN!!!</h1>
		</div>
	<div class="col-md-6">
		<img class="img-responsive" src="/img/couldyoubeloved.jpg" alt="..." style="width: 90%">
	</div>
	<div class="col-md-6">
		<div style="display: inline-flex; justify-content: space-between; align-items: center; flex-flow: wrap;  width: 100%; ">
		<h4>Mr Bobby by Manu Chao</h4>
		<audio controls="controls" style="background-color: red">
			<source src="/audio/mrbobby.mp3" type="audio/mpeg; codecs=mp3">
		</audio>
		</div>
		<div style="display: inline-flex; justify-content: space-between; align-items: center; flex-flow: wrap; width: 100%; ">
		<h4>Another Song by Another Artist</h4>
		<audio controls="controls">
			<source src="/audio/mrbobby.mp3" type="audio/mpeg; codecs=mp3">
		</audio>
		</div>
		<div style="display: inline-flex; justify-content: space-between; align-items: center; flex-flow: wrap; width: 100%; ">
		<h4>Another Song by Another Artist</h4>
		<audio controls="controls">
			<source src="/audio/mrbobby.mp3" type="audio/mpeg; codecs=mp3">
		</audio>
		</div>
		<div style="display: inline-flex; justify-content: space-between; align-items: center; width: 100%; ">
		<h4>Another Song by Another Artist</h4>
		<audio controls="controls">
			<source src="/audio/mrbobby.mp3" type="audio/mpeg; codecs=mp3">
		</audio>
		</div>
		<div style="display: inline-flex; justify-content: space-between; align-items: center; width: 100%; ">
		<h4>Another Song by Another Artist</h4>
		<audio controls="controls">
			<source src="/audio/mrbobby.mp3" type="audio/mpeg; codecs=mp3">
		</audio>
		</div>
	</div>
	

	<hr>
	<div class="row" id="video">
		<div class="col-md-12">
			<h1>WATCH!!!</h1>
		</div>
		<div class="col-md-6" >
			<video controls="controls" style="width: 100%" poster="/img/couldyoubeloved.jpg">
				<source src="/video/BobMarleyStirItUp.mp4" type="video/mp4" >
			</video>
		</div>
		<div class="col-md-6">
			<video controls="controls" style="width: 100%" poster="/img/couldyoubeloved.jpg">
				<source src="/video/BobMarleyStirItUp.mp4" type="video/mp4" >
			</video>
		</div>
	</div>
</div>