<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align: left; font-weight: bolder; /*text-decoration: underline*/;">MUSIC PLAYER</h1>
			<hr style="color: yellow; visibility: visible;">
		</div>

	<!-- Spotify player -->
		<div class="col-md-6">

			<iframe src="https://embed.spotify.com/?uri=spotify%3Aartist%3A2QsynagSdAqZj3U9HgDzjD" width="100%" height="420" frameborder="0" allowtransparency="true"></iframe>
		</div>

		<div class="col-md-6">
			<!-- images -->
			<div class="row">
				<div class="col-md-4">
					<img src="/img/MPbestofbob.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
				</div>
				<div class="col-md-4">
					<img src="/img/MPbestofbob.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
				</div>
				<div class="col-md-4">
					<img src="/img/MPbestofbob.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="/img/GPlion.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
				</div>
				<div class="col-md-4">
					<img src="/img/MPbestofbob.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
				</div>
				<div class="col-md-4">
					<img src="/img/MPbestofbob.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="/img/GPlion.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
				</div>
				<div class="col-md-4">
					<img src="/img/MPbestofbob.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
				</div>
				<div class="col-md-4">
					<img src="/img/MPbestofbob.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
				</div>
			</div>		
		</div>
	</div>

		<hr>
	
	<div class="row" id="video">

		<div class="col-md-6 col-md-offset-6">
			<h1 style="text-align: left;">VIDEO PLAYER</h1>
		</div>

		<div class="col-md-6" >
			<div class="row">
				<div class="col-md-8">
					<img src="/img/GPdamianmarley.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
				</div>
					<div class="row">
						<div class="col-md-4">
							<img src="/img/GPdamianmarley.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
						</div>
						<div class="col-md-4">
							<img src="/img/GPdamianmarley.jpg" width="100%" height="100%" class="img-responsive music-page-images" />
						</div>
					</div>
			</div>
			<!-- images here -->
		</div>
		<!-- Youtube player -->
		<div class="col-md-6">
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/MrHxhQPOO2c" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
